# 방문지 정보 Overview

### Basic review

In [1]:
import pandas as pd

In [2]:
ds_path = '../dataset_2023'

In [3]:
tn_visit_area_info = pd.read_csv(ds_path + '/Training/TL_csv/tn_visit_area_info_방문지정보_E.csv')

In [4]:
tn_visit_area_info.head()

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,...,POI_NM,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
0,2304300001,e_e000004,1,집,2023-04-30,2023-04-30,NaN,NaN,NaN,NaN,...,NaN,NaN,21,NaN,NaN,NaN,NaN,NaN,NaN,4.159012e+09
1,2304300002,e_e000004,2,화성 관광열차 안내소 연무대 매표소,2023-04-30,2023-04-30,경기 수원시 팔달구 창룡대로103번길 20,경기 수원시 팔달구 매향동 3-32,127.023339,37.287878,...,동대문종합시장 악세서리부자재시장,60.0,2,N,10.0,NaN,4.0,3.0,4.0,NaN
2,2304300003,e_e000004,3,창룡문,2023-04-30,2023-04-30,NaN,경기 수원시 팔달구 남수동,127.025143,37.287791,...,창룡문,30.0,2,N,1.0,NaN,4.0,4.0,4.0,NaN
3,2304300004,e_e000004,4,수원 화성 화홍문,2023-04-30,2023-04-30,NaN,경기 수원시 팔달구 북수동 9000-1,127.017626,37.287546,...,수원화성 화홍문,60.0,2,N,10.0,NaN,4.0,3.0,3.0,NaN
4,2304300005,e_e000004,5,집,2023-04-30,2023-05-01,NaN,NaN,NaN,NaN,...,NaN,390.0,21,NaN,NaN,NaN,NaN,NaN,NaN,4.159012e+09

In [11]:
tn_visit_area_info.iloc[1]

VISIT_AREA_ID                       2304300002
TRAVEL_ID                            e_e000004
VISIT_ORDER                                  2
VISIT_AREA_NM              화성 관광열차 안내소 연무대 매표소
VISIT_START_YMD                     2023-04-30
VISIT_END_YMD                       2023-04-30
ROAD_NM_ADDR           경기 수원시 팔달구 창룡대로103번길 20
LOTNO_ADDR                 경기 수원시 팔달구 매향동 3-32
X_COORD                             127.023339
Y_COORD                              37.287878
ROAD_NM_CD                                 NaN
LOTNO_CD                                   NaN
POI_ID                       POI01000000ALZU7R
POI_NM                       동대문종합시장 악세서리부자재시장
RESIDENCE_TIME_MIN                        60.0
VISIT_AREA_TYPE_CD                           2
REVISIT_YN                                   N
VISIT_CHC_REASON_CD                       10.0
LODGING_TYPE_CD                            NaN
DGSTFN                                     4.0
REVISIT_INTENTION                          3.0
RCMDTN_INTENTION                           4.0
SGG_CD                                     NaN
Name: 1, dtype: object

In [5]:
tn_visit_area_info.shape

(21384, 23)

In [14]:
# If remove na from ROAD_NM_ADDR
tn_visit_area_info.dropna(subset=['ROAD_NM_ADDR']).shape

(18293, 23)

In [15]:
# If remove na from POI_ID
tn_visit_area_info.dropna(subset=['POI_ID']).shape

(14674, 23)

In [13]:
# Remove the rows that is not a travel area (ref. E_capital_model.py)
# See tc_codeb_코드B.csv for the meaning of the codes
tn_visit_area_info_travel = tn_visit_area_info[(tn_visit_area_info['VISIT_AREA_TYPE_CD'] == 1) |
   (tn_visit_area_info['VISIT_AREA_TYPE_CD'] == 2) |(tn_visit_area_info['VISIT_AREA_TYPE_CD'] == 3) | (tn_visit_area_info['VISIT_AREA_TYPE_CD'] == 4) |
   (tn_visit_area_info['VISIT_AREA_TYPE_CD'] == 5) | (tn_visit_area_info['VISIT_AREA_TYPE_CD'] == 6) |(tn_visit_area_info['VISIT_AREA_TYPE_CD'] == 7) |
   (tn_visit_area_info['VISIT_AREA_TYPE_CD'] == 8)]
# tn_visit_area_info_travel = tn_visit_area_info_travel.groupby('VISIT_AREA_NM').filter(lambda x: len(x) > 1)
tn_visit_area_info_travel.head()

,VISIT_AREA_ID,TRAVEL_ID,VISIT_ORDER,VISIT_AREA_NM,VISIT_START_YMD,VISIT_END_YMD,ROAD_NM_ADDR,LOTNO_ADDR,X_COORD,Y_COORD,...,POI_NM,RESIDENCE_TIME_MIN,VISIT_AREA_TYPE_CD,REVISIT_YN,VISIT_CHC_REASON_CD,LODGING_TYPE_CD,DGSTFN,REVISIT_INTENTION,RCMDTN_INTENTION,SGG_CD
1,2304300002,e_e000004,2,화성 관광열차 안내소 연무대 매표소,2023-04-30,2023-04-30,경기 수원시 팔달구 창룡대로103번길 20,경기 수원시 팔달구 매향동 3-32,127.023339,37.287878,...,동대문종합시장 악세서리부자재시장,60.0,2,N,10.0,NaN,4.0,3.0,4.0,NaN
2,2304300003,e_e000004,3,창룡문,2023-04-30,2023-04-30,NaN,경기 수원시 팔달구 남수동,127.025143,37.287791,...,창룡문,30.0,2,N,1.0,NaN,4.0,4.0,4.0,NaN
3,2304300004,e_e000004,4,수원 화성 화홍문,2023-04-30,2023-04-30,NaN,경기 수원시 팔달구 북수동 9000-1,127.017626,37.287546,...,수원화성 화홍문,60.0,2,N,10.0,NaN,4.0,3.0,3.0,NaN
8,2304300004,e_e000006,4,경춘선 자전거길,2023-04-30,2023-04-30,NaN,경기 가평군 청평면 하천리 158-2,127.436200,37.745958,...,경춘선자전거길,150.0,1,Y,4.0,NaN,5.0,5.0,5.0,NaN
17,2304290002,e_e000009,2,농협안성팜랜드,2023-04-29,2023-04-29,경기 안성시 공도읍 대신두길 28,경기 안성시 공도읍 신두리 451,127.193517,36.991317,...,안성팜랜드,30.0,6,N,1.0,NaN,4.0,4.0,4.0,NaN

In [16]:
tn_visit_area_info_travel.shape

(6471, 23)

In [17]:
# Again remove na from ROAD_NM_ADDR
tn_visit_area_info_travel.dropna(subset=['ROAD_NM_ADDR']).shape

(4853, 23)

In [18]:
# If remove na from POI_ID
tn_visit_area_info_travel.dropna(subset=['POI_ID']).shape

(5951, 23)

In [24]:
# If remove points where we cannot know the location from any of the columns
# At least one of following columns should have a value: ROAD_NM_ADDR, LOTNO_CD, POI_ID
(tn_visit_area_info_travel[
    tn_visit_area_info_travel['ROAD_NM_ADDR'].notna() |
    tn_visit_area_info_travel['LOTNO_CD'].notna() |
    tn_visit_area_info_travel['POI_ID'].notna()]).shape

(6303, 23)

### Let's get the tn_poi_master_POIMaster_all.csv

In [20]:
poi = pd.read_csv(ds_path + '/Other/tn_poi_master_POIMaster_all.csv') # Note that this is quite a big file, this may take a minute to load

C:\Users\ljhga\AppData\Local\Temp\ipykernel_17204\542230333.py:1: DtypeWarning: Columns (3,4,12) have mixed types. Specify dtype option on import or set low_memory=False.
  poi = pd.read_csv(ds_path + '/Other/tn_poi_master_POIMaster_all.csv')

In [22]:
poi.head()

,POI_ID,POI_NM,BRNO,SGG_CD,ROAD_NM_ADDR,LOTNO_ADDR,ASORT_LCLASDC,ASORT_MLSFCDC,ASORT_SDASDC,X_COORD,Y_COORD,ROAD_NM_CD,LOTNO_CD
0,POI0100000000001X,장안평,,1123010600,NaN,서울특별시 동대문구 장안동 566 대,NaN,NaN,NaN,127.068515,37.563459,,1123010600105660000
1,POI0100000000002Y,육연평야,,4136025322,NaN,경기도 남양주시 진접읍 내각리 445-2답,NaN,NaN,NaN,127.168214,37.697096,,4136025322104450002
2,POI0100000000003Z,두평야,,4157025321,NaN,경기도 김포시 고촌읍 향산리 401 대,NaN,NaN,NaN,126.744188,37.624167,,4157025321104010000
3,POI01000000000040,우두평야,,4211011800,NaN,강원도 춘천시 우두동 1120 공,NaN,NaN,NaN,127.733450,37.910152,,4211011800111200000
4,POI01000000000051,예단평야,,4276033025,NaN,강원도 평창군 대화면 하안미리 1904답,NaN,NaN,NaN,128.431603,37.456985,,4276033025119040000

In [21]:
poi.shape

(7442866, 13)

### The travel data

In [25]:
tn_travel = pd.read_csv(ds_path + '/Training/TL_csv/tn_travel_여행_E.csv')

In [26]:
tn_travel.head()

,TRAVEL_ID,TRAVEL_NM,TRAVELER_ID,TRAVEL_PURPOSE,TRAVEL_START_YMD,TRAVEL_END_YMD,MVMN_NM,TRAVEL_PERSONA,TRAVEL_MISSION,TRAVEL_MISSION_CHECK
0,e_e000004,E03,e000004,3,2023-04-30,2023-05-01,NaN,서울 외 수도권 방문/수도권 거주/40세 이상/자녀동반/일반미션,3,3;4;11
1,e_e000006,E03,e000006,21,2023-04-30,2023-05-02,NaN,경기 방문/거주지 구분 없음/39세 이하/특별미션,21,21;10;27
2,e_e000009,E03,e000009,2;4,2023-04-29,2023-05-01,NaN,서울 외 수도권 방문/수도권 거주/39세 이하/커플/일반미션,2;4,22;1;7
3,e_e000010,E01,e000010,3;6,2023-04-29,2023-05-01,NaN,서울 방문/수도권 외 거주/39세 이하/나홀로 여행/일반미션,3;6,6;3;1
4,e_e000011,E01,e000011,1;21,2023-04-28,2023-05-01,NaN,서울 방문/수도권 외 거주/40세 이상/커플/일반미션,1;21,6;2;24